<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Album</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/commons/gallery-grid.css">
  <link rel="stylesheet" href="/css/createalbum/style.css">
  <link rel="stylesheet" href="/css/introjs.min.css">

</head>

<body>
  {{#if albumAdded}}
  {{#if albumAdded}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Congratulation !</strong>You have created Album.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{else}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Sorry Could Not Create Album !</strong>Try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}
  {{/if}}
  <div class="container-fluid">
    <div class="row bg-light align-items-center">
      <div class="col-md-1">
        <h2>SIB</h2>
        <!-- <a class="navbar-brand" href="#">SIB</a> -->
        <!-- <img src="https://via.placeholder.com/100" alt="" srcset="" height="50px" width="80px"> -->
      </div>
      <div class="col-md-2 offset-md-9">
        <ul class="nav">
          
          <li class="nav-item">
            <div class="round-circle"  data-toggle="collapse" data-target="#collapseExample2">{{initialName}}</div>
          </li>
        </ul>
      </div>
    </div>
   
    <div class="collapse" id="collapseExample2">
      <div class="col-md-3 offset-md-9">
        <div class="card card-body">
          <ul class="nav flex-column">
           
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Sign Out</a>
            </li>

          </ul>
        </div>
      </div>

    </div>


    <div class="row" style="margin-top:5%">
      <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          
          
                     <li class="nav-item"  data-step="3" data-intro="Here you can create album and upload pictures in it." data-position='right'>
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal1">Create Album</a>
                    </li>

          


        </ul>
      </div>
      <div class="col-md-9">
      
        <div class="tz-gallery"  >
          <div class="row justify-content-start" >
            {{#if listOfAlbums}}
            {{#each listOfAlbums}}
            <div class="col-md-4">
              <p></p>
              <div class="card" style="width:16rem;">
                <img src="/img/photo-album.svg" style="padding:12px">
                <div class="card-body">

                  <h5 class="card-title">{{albumName}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  {{!-- <li class="list-group-item">Total Photos</li> --}}
                  <li class="list-group-item">{{dateCreated}}</li>
                </ul>
                <div class="card-body">
                  <a href="/albumPhotos?id={{_id}}" class="card-link">Open Album</a>
                  <a href="/deleteAlbum?id={{_id}}"  id="deletebylink" class="card-link">Delete Album</a>
                </div>
              </div>

            </div>
            {{/each}}
            {{else}}
            <div class="alert alert-info" role="alert">
              You dont't have any albums now you can create one on clicking create album.
            </div>
            {{/if}}

          </div>
        </div>



      </div>




    </div>
  </div>

  <!-- hello i am the new file -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title">Create Your Album </h4>
        </div>
        <form action="/createAlbum" method="POST">
          <div class="modal-body">
            <p>Enter Name for your Album</p>
            <input type="text" name="albumName" class="form-control" id="title">
            <p></p>
            <p>Select Share Options</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="isPrivate"
                checked>
              <label class="form-check-label" for="exampleRadios1">
                Private
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="isPublic">
              <label class="form-check-label" for="exampleRadios2">
                Public
              </label>
            </div>
          </div>

          <div class="modal-footer"> 

            <button type="button" class="btn btn-primary btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
              Cancel</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Share</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Link</p>
          <a href="http://Google.com">http://Google.com</a>
          <span type="button" class="badge badge-pill badge-secondary">Copy Link</span><br>
          <hr>
          <p>Share To Public Anyone can view</p>
          <span type="button" class="badge badge-pill badge-secondary">Share Publicly</span><br>
          <hr>

          <input type="text" name="email&username" id="" placeholder="Enter Email Or Username">

        </div>
        <div class="modal-footer">

          {{!-- <button type="button" class="btn btn-primary">Done</button> --}}
          <a class="btn btn-primary" href="/shareAlbum" role="button">Share</a>
        </div>


      </div>
    </div>
  </div>
  <div class="modal fade" id="deletemodal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title">Delete Album </h4>
        </div>
        <div class="modal-body">
          <p>Are you sure to want to delete this Album?</p>

        </div>
        <div class="modal-footer">
          <button type="button" id="deletemodal" value="{{_id}}" onclick="removeAlbum" class="btn btn-primary">Delete</button>
          <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
            Cancel</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    </div>
  </div>
  <div class="flex-column">
  </div>
</body>
<script src="js/delete_confirm.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
  <script src="js/intro.min.js"></script>
  <script type="text/javascript">
      if (RegExp('multipage', 'gi').test(window.location.search)) {
        introJs().start();
      }
    </script>

</html>